.container {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    .title {
        padding: 20px;
        width: 490px;
    }
    .location {
        width: 300px;
    }
    .btn {
        margin-left: 50px;
    }
}