.container {
    display: grid;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-content: center;
    margin: auto;
    h1 {
        text-align: center;
    }
     ::ng-deep .mat-form-field {
        width: 400px;
    }
     ::ng-deep .mat-raised-button {
        width: 400px;
    }
}