<div class="container">
    <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">

        <div class="username">
            <mat-form-field appearance="fill">
                <input matInput formControlName="username" [readonly]="disable">
                <button mat-icon-button matSuffix (click)="disable = !disable">
                <mat-icon>mode_edit</mat-icon>
                </button>
                <mat-error *ngIf="updateUserForm.invalid">{{'settings.nameError' |translate}}</mat-error>
            </mat-form-field>
        </div>

        <div class="phone">

            <mat-form-field>
                <mat-label>{{'settings.phone' |translate}}</mat-label>
                <span matPrefix>+20 &nbsp;</span>
                <input matInput type="tel" matInput formControlName="phone" [readonly]="disable">
                <button mat-icon-button matSuffix (click)="disable = !disable">
                <mat-icon>mode_edit</mat-icon>
                </button>
                <mat-error *ngIf="updateUserForm.invalid">Invalid phone</mat-error>
            </mat-form-field>
        </div>

        <div class="email">
            <mat-form-field appearance="fill">
                <input matInput placeholder="pat@example.com" formControlName="email" [readonly]="disable">
                <button mat-icon-button matSuffix (click)="disable = !disable">
                <mat-icon>mode_edit</mat-icon>
                </button>
                <mat-error *ngIf="updateUserForm.invalid">{{'settings.emailError' |translate}}</mat-error>
            </mat-form-field>
        </div>

        <div class="password">
            <mat-form-field appearance="fill">
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" [readonly]="disable">

                <button mat-icon-button matSuffix (click)="disable = !disable">
                <mat-icon>mode_edit</mat-icon>
                </button>
                <mat-error *ngIf="updateUserForm.invalid">{{'settings.passError' |translate}}</mat-error>
            </mat-form-field>

        </div>


        <div class="btnSignUp">
            <button mat-raised-button color="primary" [disabled]="!updateUserForm.valid">
                {{'settings.update' |translate}}
        </button>
        </div>

    </form>
</div>