.adContainer {
    margin-top: 50px;
}

.noAds {
    width: 80vw;
    height: 60vh;
    margin: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    .icon {
        font-size: 150px;
        color: #EAEAEA;
    }
}