.container {
    width: 50vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    margin: auto;
    .material-icons {
        font-size: 200px;
    }
    .text {
        font-size: 30px;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }
}